<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Hello</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
<a href="joinForm.html">일반 회원가입</a>
<a href="/oauth2/authorization/naver" class="btn btn-secondary active" role="button">Naver Login</a>
<a href="/oauth2/authorization/kakao" class="btn btn-danger active" role="button">Kakao Login</a>
<a href="/oauth2/authorization/facebook" class="btn btn-danger active" role="button">Facebook Login</a>
아이디 찾기,
비밀번호 찾기,
</body>
</html>